$font: "myriad-pro", sans-serif;
$orangeText: #ff6633;
$green: #009999;
$blue: #2d6bad;

a {
  color: white;
  text-decoration: none;
}

.graphic {
  // display: none;

  height: 6234px;
  width: 1440px;

  margin-top: -10px;
  overflow: hidden;
  background-color: transparent;
}

.row {
  position: relative;
  width: 1440px !important;
  max-width: 1440px !important;

  overflow: hidden;
}

.background {
  height: 6223px;

  background: url('../img/background.png');
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

// .oew-desc {
//   position: absolute;
//   top: 1770px;
//
//   width: 350px;
//   right: 140px;
//
//   color: $orangeText;
//   font-size: 16px;
// }

.btn {
  position: absolute;
  display: inline-block;
  padding: 3px 20px;
  margin-top: 30px;

  font: 13px/24px $font;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $green;
  border-radius: 8px;

  &:hover {
    background-color: darken($green, 15%);
  }
}

.btn-blue {
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 15%);
  }
}

.oew-btn {
  top: 1720px;
  right: 355px;
}

.global1-btn {
  right: 480px;
  top: 2485px;
}

.global2-btn {
  right: 320px;
  top: 2485px;
}

.service1-btn {
  left: 330px;
  top: 3365px;
}

.service2-btn {
  left: 660px;
  top: 3365px;
}

.service3-btn {
  left: 990px;
  top: 3365px;
}

.service4-btn {
  left: 330px;
  top: 3645px;
}

.service5-btn {
  left: 660px;
  top: 3645px;
}

.service6-btn {
  left: 990px;
  top: 3659px;
}


.project1-btn {
  left: 410px;
  top: 4225px;
}

.project2-btn {
  left: 920px;
  top: 4265px;
}

.project3-btn {
  left: 410px;
  top: 4615px;
}

.project4-btn {
  left: 920px;
  top: 4705px;
}

.project5-btn {
  left: 410px;
  top: 5035px;
}

.project6-btn {
  left: 920px;
  top: 5085px;
}

// #facebook, #twitter {
//   cursor: pointer;
// }

.btn-facebook {
  position: absolute;
  top: 5427px;
  left: 917px;

  height: 46px;
  width: 46px;
  background-color: transparent;
}

.btn-twitter {
  position: absolute;
  top: 5427px;
  left: 977px;

  height: 46px;
  width: 46px;
  background-color: transparent;
}
